/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formgroup div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formgroup label {
  flex: 1;
}

.formgroup input,
.formgroup select {
  flex: 1;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.image {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  display: flex;
  font-weight: bold;
}

form select,
form input {
  display: flex;
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header head {
    display: flex;
    flex-direction: row;
  }

  .formgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .formgroup div {
    display: flex;
    flex-direction: column;
  }

  .formgroup select,
  .formgroup input {
    display: flex;
    flex-direction: row;
    margin: 2px;
    width: auto;
  }

  form button {
    width: 30%;
  }

  #about div {
    display: flex;
    flex-direction: row;
  }

  #about img {
    width: 24%;
    margin: 10px
    }

  .agroup {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }

  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #ideas {
    text-align: center;
  }
  
  #ideas .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #ideas .item {
    flex-basis: calc(50% - 20px); /* Adjusted for margins */
    margin: 10px;
  }
  
  #ideas .image {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #host {
    text-align: left;
  }
  
  .host-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
  }
  
  .bgroup {
    flex: 1;
    padding-right: 20px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  } 
}